!                       cursor
Xcursor.theme:          Adwaita
Xcursor.size:           24

!                       urxvt
! plugin for resize font in ~/.urxvt/ext/resize-font
URxvt.perl-ext-common:  resize-font

URxvt.font:             xft:Monospace:size=15
URxvt.scrollBar:        false
URxvt*depth:            32
URxvt.transparent:      false

URxvt.keysym.C-minus:   resize-font:smaller
URxvt.keysym.C-equal:   resize-font:bigger
URxvt.keysym.C-0:       resize-font:reset