!                       cursor
Xcursor.theme:          Adwaita
Xcursor.size:           24

!                       urxvt
! plugin for resize font in ~/.urxvt/ext/resize-font
URxvt.perl-ext-common:  resize-font

URxvt.font:             xft:Monospace:size=15
URxvt.scrollBar:        false
URxvt*depth:            32
URxvt.transparent:      false

URxvt.iso14755:         false
URxvt.iso14755_52:      false
URxvt.keysym.C-minus:   resize-font:smaller
URxvt.keysym.C-equal:   resize-font:bigger
URxvt.keysym.C-0:       resize-font:reset

! Zenburn
URxvt*background: #3f3f3f
URxvt*foreground: #dcdccc
URxvt*cursorColor: #aaaaaa
! URxvt*colorUL: #366060
! URxvt*underlineColor: #dfaf8f
URxvt*color0: #3f3f3f
URxvt*color1: #cc9393
URxvt*color2: #7f9f7f
URxvt*color3: #d0bf8f
URxvt*color4: #6ca0a3
URxvt*color5: #dc8cc3
URxvt*color6: #93e0e3
URxvt*color7: #dcdccc
URxvt*color8: #989890
URxvt*color9: #dca3a3
URxvt*color10: #bfebbf
URxvt*color11: #f0dfaf
URxvt*color12: #8cd0d3
URxvt*color13: #dc8cc3
URxvt*color14: #93e0e3
URxvt*color15: #ffffff