!                       cursor
Xcursor.theme:          Adwaita
Xcursor.size:           24

!                       urxvt
URxvt.perl-ext-common:  resize-font,matcher

URxvt.font:             xft:Monospace:size=15

URxvt.keysym.C-minus:   resize-font:smaller
URxvt.keysym.C-equal:   resize-font:bigger
URxvt.keysym.C-0:       resize-font:reset